

body {
    background-color: lightgreen;
}

.header {
    text-align: center;
    padding: 15px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: fit-content;
    min-height: 316px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border: 1px solid black;
    font-size: 48px;
    line-height: 100px; /* Center the text vertically */
    text-align: center; /* Center the text horizontally */
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Add this line */
    height: 100vh; /* Add this line to make the container take up the full height of the viewport */
}

.player-data {
    margin-top: 20px;
}
